@import "inputify/styles/index";

@base: black;
@baseContrast: red;

#electrode-app {
  padding: 20px;
}

.main-title {
  font-size: 200%;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 200%;
  font-weight: bold;
}

.inputify_container {
  & > label {
    width: 20%;
  }
  & > .inputify {
    width: 80%;
  }
}
