
.inputify_container-boolean {
  justify-content: left;
  // make sure label is not wrapped and there's lots of white space around toggle icon
  & > label.normal { flex: 1; max-width: 90%; }
}

.inputify-boolean {
  flex: 0 !important;
  .boolean-icon {
    font-size: 1.8em;
    width: 1em;
    height: 1em;
    display: none;
    cursor: pointer;
    &.selected { display: block; }
    &.boolean-icon-on:hover, &.boolean-icon-off:hover { color: @hover; }
    &.boolean-icon-on { color: @primary; }
    // &.boolean-icon-off { color: @baseContrast; }
  }

  &.inputify-boolean-vertical .boolean-icon {
    transform: rotate(-90deg);
  }

}
