
@import (inline) "color-spectrum.css";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify-color {

  .sp-replacer {
    border: none;
    .back.baseAndHover();
    width: 100%;
    padding: 0.8em;
  }

  .sp-preview {
    flex: auto;
    border: none;
    width: 100%;
  }

  .sp-dd {
    display: none;
    .front.primary();
  }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

//
//                              SPECTRUM PICKER BUTTONS DISPLAY

.sp-button-container {
  font-family: @basefont;
  .sp-choose {
    border: none !important;
    border-radius: 0 !important;
    background-image: none !important;
    text-shadow: none !important;
    font-size: 100%;
    .back.primaryAndHover();
  }
  .sp-cancel {
    .front.primaryAndHover() !important;
  }
}

//
//                              RANDOM BUTTON DISPLAY

.inputify-color-button_random {
  padding: 3px 7px;
  cursor: pointer;
  display: inline-block;
  .back.primaryAndHover();
}

//                              ¬
//

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

// .sp-container {
//   border: none;
//   .back.base();
//   .sp-picker-container {
//     border: none;
//   }
// }
