@import "uify/styles/extension/calendar";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  INPUT STYLING
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify-dateOrRange, .inputify-date, .inputify-dateRange, .inputify-dateTime, .inputify-dateTimeRange {
  min-width: 0; // NOTE: to correct that inputs don't shrink below the size of inputify_container (they should!)
  .back.base();
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  TIPPY CONTAINER STYLING
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify-calendar_input-tippy {
  .tippy-box { max-width: unset !important; }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  DATE PICKER STYLING
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify-calendar_input-popup {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  .back.base();

  // GENERAL
  .panel { padding: .5em; }
  .startend_title { text-align: center; }

  // SETUP DISPLAY OF DIFFERENT ELEMENTS
  &[precision=year]     { .panel-month, .panel-date, .panel-time  { display: none !important; } }
  &[precision=month]    {               .panel-date, .panel-time  { display: none !important; } }
  &[precision=date]     { .panel-year_month,         .panel-time  { display: none !important; } }
  &[precision=time]     { .panel-year_month                       { display: none !important; } }
  &[rangePicker=false]  { .startend_title, .panel-end             { display: none !important; } }

  // HIDE BORDER OF DATE WHEN NO TIME
  &[precision=date]     { .panel-date { border-right: none !important; } }

  //
  //                              HEADER PANELS

  .header-panels {
    .flexautocenter();
    border-bottom: 1px @baseContrast solid;

    // PRECISION PICKER
    .panel-precision { }

  }

  //
  //                              BODY PANELS

  .body-panels {
    .flexautocenter();
    flex-wrap: wrap;

    // YEAR AND MONTH
    .panel-year_month {
      .flexautocenter();
      .panel-year, .panel-month { .flexautocenter(); }
      .panel-year_month-inputs { .flexautocenter(); }
    }

    // CALENDAR
    .panel-date {
      width: 220px;
      height: 220px;
      border-right: 1px @baseContrast solid;
    }

    // TIME PICKER
    .panel-time { }

  }

  //
  //                              FOOTER PANELS

  .footer-panels {
    .flexautocenter();
    border-top: 1px @baseContrast solid;

    // RANGE SWITCH
    .panel-range_switch {
      border-right: 1px @baseContrast solid;
      .flexautocenter();
    }

    // DISPLAY RESULT
    .panel-result {
      text-align: center;
      flex: 1;
    }

  }

  //                              ¬
  //

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
