
.inputify-entry {

  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .back.base();
  .front.hover();
  padding: 0.4em;

  pre {
    max-width: 100%;
    overflow-x: auto;
    font-size: 70%;
    -moz-tab-size: 3; // firefox still doesn't seem to support tab-size !??
    tab-size: 3;
    flex: 1;
  }

  div {
    flex: 0;
  }

}

.inputify-entry-dialog.ajs-dialog .ajs-content {

  .help-message {
    background-color: @warning;
    color: @warningContrast;
    padding: 0.4em;
    margin: 10px;
    font-size: 1.4em;
    text-align: center;
    font-family: @basefont;
  }

  & > .inputify_container > .inputify-objects {
    background-color: transparent;
  }
}
