
@import "uify/styles/extension/preview";

.inputify-file {

  display: flex;
  align-items: center;

  //
  //                              FILE PICKER

  .file_picker {

    flex-basis: 32em;
    padding: 0 10px;

    & * { width: 100%; }

    .choose_file_buttons {
      display: flex;
    }

    .choose_file_button {
      cursor: pointer;
      .back.primaryAndHover();
      padding: 0.4em;
      text-align: center;
      margin: 0.4em;
    }

    .file_title_input {
      .back.base();
      margin-bottom: 0.4em;
    }

    .file_input { display: none; }

    .file_infos {
      font-family: @basefontMonospace;
      font-size: 0.8em;
    }

  }

  //
  //                              FILE PREVIEW

  .file_preview {
  }

  //                              ¬
  //

}
