
.inputify-integer {

  display: flex;
  align-items: center;

  &.inputify-integer-horizontal {
    flex-direction: row;
  }
  &.inputify-integer-vertical {
    flex-direction: column-reverse;
  }

  // padding: 10px;
  // margin: 0.4em 0;

  .title {
    font-size: 130%;
    flex: 1;
  }

  .text {
    font-size: 150%;
    min-width: 30px;
    text-align: center;
    padding: 0.4em;
    cursor: pointer;
    // .front.primary();
  }

  .button {
    font-size: 130%;
    cursor: pointer;
    display: flex; flex-direction: row; align-items: center; justify-content: center;

    .back.primaryAndHover();

    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
}

.stacked-label .inputify-integer {
  margin: 0 0.4em;
}
