
.inputify-json {

  height: 8em;
  border: none;
  padding: 0.4em 0.8em;
  .back.base();

  // control tab keys width
  -moz-tab-size: 3; // firefox still doesn't seem to support tab-size !??
  tab-size: 3;

}
