
.inputify-long-dialog {

  // height and width will be maximum they can, depending on the display size, but still limited to their max-height and max-width set in uify
  height: 100vh;
  width: 100vw;

  // make textarea fill the whole dialog body
  .uify-dialog-content {
    height: 100%;
    .inputify_container-textarea {
      height: 100%;
      .inputify { height: 100%; }
    }
  }

}

.inputify-long {
  cursor: pointer;
  .front.hover();
  text-overflow: ellipsis;
  max-height: 8em;
  overflow: hidden;
}

.inputify-textarea {
  border: none;
  font-size: 110%;
  min-height: 8em;
}

.inputify-long, .inputify-textarea {
  padding: 0.4em 0.8em;
  font-family: Myriad Pro;
  min-height: 4em;
  .back.base();
}
