
.inputify-objects {

  background-color: @baseTransparentMore;
  // color: @baseContrast; // NOTE: if this is set @baseContrast need also to be applied to labels
  padding: 0.8em;


  &.inputify-allow_new_key_creation {
    padding-bottom: 4.5em;
  }

}

.inputify_container-object, .inputify_container-array {
  .uify-spinner .uify-spinner_spinner { right: unset; } // cancel the style applied globally to spinners in all inputs
}
