
.inputify-radiotickbox_horizontal .items {
  flex-direction: row;
  align-items: center; /* align vertical */
}

.inputify-radiotickbox_vertical .items {
  flex-direction: column;
}

.inputify-radiotickbox {

  .itemandtitle {
    margin: 1px;
    font-weight: bold;
  }

  .title {
    .itemandtitle;
    padding: 0.4em 7px;
    background-color: @primary;
    color: @primaryContrast;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    user-select: none;

    .item {

      .itemandtitle;
      cursor: pointer;

      .back.baseAndHover();
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 1 1;

      // DISPLAY RADIOTICKBOX ICON ONLY IF SELECTED
      .selected-order-index { display: none; }
      &.inputify-selected {

        .back.primaryAndHover();

        .radiotickbox-icon-checked { display: block; }
        .radiotickbox-icon-unchecked { display: none; }

        .selected-order-index {
          display: block;
          order: 4;
          margin-right: 0.4em;
          text-align: center;
          min-width: 17px;
          min-height: 17px;
          border-radius: 10px;
          color: @primary;
          background-color: @primaryContrast;
        }

        &:hover {
          .selected-order-index {
            color: @hover;
            background-color: @hoverContrast;
          }
        }

      }
      .radiotickbox-icon-unchecked { display: block; }
      .radiotickbox-icon-checked { display: none; }
      .radiotickbox-icon-checked, .radiotickbox-icon-unchecked {
        order: 3;
        padding-right: 0.4em;
        font-size: 140%;
        // flex: 1
      }
      .text {
        padding: 0.4em 7px;
        flex: 5;
      }

    }
  }

}
