
@import (inline) "nouislider/distribute/nouislider.css";

.inputify-slider, .inputify-range, .inputify-verticalSlider, .inputify-verticalRange {

  .noUi-connect {
    background: @primary;
  }

  .noUi-handle {
    background: @primary;
    &:hover {
      background: @hover;
    }
  }


  box-shadow: none;

  // DISPLAY TOOLTIP ONLY WHEN SLIDER IS CLICKED
  .noUi-tooltip {
    display: none;
    border: none;
    background: @hover;
    color: @hoverContrast;
  }
  .noUi-active .noUi-tooltip, .noUi-touch-area:hover + .noUi-tooltip {
    display: block;
  }
  .noUi-handle.display_number_on_handle {
    .noUi-tooltip {
      display: block;
      top: -4px;
      right: 2px;
      transform: none;
      width: 2em;
      text-align: center;
      background: transparent;
      color: @primaryContrast;
    }
  }

  &.noUi-target {
    background-color: transparent;
  }
  .noUi-base {
    background-color: @base;
    border-radius: 0.3em;
  }
  .noUi-handle {
    &:after, &:before { content: none; }
    box-shadow: none;
    border: @base solid 0.1em;
  }

  &.noUi-horizontal {
    border: none;
    height: 0.6em !important;
    margin: 0 1.2em;
    padding-left: 0.8em;
    .noUi-handle {
      width: 1.6em;
      top: -0.8em;
      right: -0.8em !important;
    }
  }

  &.noUi-vertical {
    border: none;
    width: 0.6em !important;
    max-width: 0.6em; // shouldn't be necessary but somehow without it it doesn't work and gets wider
    margin: 0 0 0.8em 0;
    padding-top: 0.8em;
    .noUi-handle {
      height: 1.6em;
      left: -0.8em;
      top: -0.8em !important;
    }
  }

}

.inputify_container-slider, .inputify_container-range {
  width: 100%;
  .inputify {
    width: 100%;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
  }
}
.inputify_container-verticalSlider, .inputify_container-verticalRange {
  height: 100%;
  .inputify {
    height: 100%;
    .noUi-connects {
      min-height: 4em;
    }
  }
}
