
.inputify-sortableList {
  .back.base();
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
  li {
    padding: 0.8em;
    margin: 0.4em;
    .back.primaryAndHover();
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    // if no handle, whole element grabs
    &.noHandle { cursor: grab; }
    // handle and text
    div {
      flex: auto;
      &.handle {
        cursor: grab;
        font-size: 120%;
        flex: 0;
        margin: 0.4em;
        margin-right: 0.8em;
      }
    }
  }
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
}
