
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  SUGGEST-LIKE INPUT
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify-suggest_like {
  .flexautocenter();
  .back.base();
  min-width: 2em;
  min-height: 2em;
  padding: .5em;
  cursor: pointer;

  & > .inputify-sl-result {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    .inputify-sl-value {
      .flexautocenter();
      margin: .3em;
      padding: .2em;
      .back.primary();

      // VALUE LABEL
      .inputify-sl-value_content {
        padding: .2em .5em;
      }

      // VALUE DELETE BUTTON
      .inputify-sl-value_cross {
        font-size: .8em;
        border-left: 1px solid @primaryContrast;
        padding: .2em .5em;
      }

      // VALUE CURRENT SIGN
      &.inputify-sl-value_current:before {
        content: "☞";
      }

    }
  }

  // little arrow in the right
  & > .inputify-sl-arrow { transition: transform .5s; }

  // single input specifics
  &.inputify-suggest_like-single {
    .inputify-sl-value {
      width: 100%;
      .inputify-sl-value_content { flex: 1; }
      .inputify-sl-value_cross { display: none; }
      &.inputify-sl-value_current:before { display: none; }
    }
  }

}

// change visibility of little arrow depending if dropdown is visible or not
.inputify_container-suggest_like.inputify-sl-dropdown_visible > .inputify > .inputify-sl-arrow { transform: rotate(180deg); }

// hide open in fullscreen button if in fullscreen dialog
.inputify-sl-fullscreen_dropdown_dialog > .inputify-suggest_like > .inputify-sl-fullscreen { display: none; }

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  SUGGEST DROPDOWN
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify-suggest_like-dropdown {
  padding: .5em;
  .flexautocenter();
  flex-direction: column;
  min-width: 4em;

  .inputify-suggest_like-dropdown-searchbox {
    .back.base();
    outline: 0;
    width: 100%;
    padding: 0 0.5em 1em;
  }

  .inputify-suggest_like-dropdown-suggestions {
    min-height: 40px;
    max-height: 400px;
    position: relative;
    overflow-y: auto;
    width: 100%;

    .inputify-sld-choice {
      padding: .5em;

      // clickable (if not no_result message)
      &:not(.inputify-sld-choice_no_result) {
        cursor: pointer;
        .back.primaryAndHover();
        // class for choice hovered using keyboard
        &.inputify-sld-choice_hovered {
          background-color: @hover;
          color: @hoverContrast;
        }
      }

      // comment on new items
      &.inputify-sld-choice_to_create:after {
        content: "(new item)";
        float: right;
        font-size: .7em;
        margin-top: .2em;
      }

    }

  }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  SUGGEST DROPDOWN DIALOG
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify-suggest_like-dropdown-input_label {
  .back.primary();
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  height: 2.5em;
  padding-top: .6em;
  font-weight: bold;
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
