
@import "inputify/styles/index";

.all_inputs {

  padding: 20px;

  .one_input {

    .title {
      font-size: 200%;
      font-weight: bold;
    }

    .description {
      font-size: 120%;
    }

    .inputify_container {
      & > label {
        width: 20%;
      }
      & > .inputify {
        width: 80%;
      }
    }

  }

}
