
@import "inputify/styles/index";

.result-title {
  font-size: 1em;
  padding: 1em;
  margin: 0.5em;
  display: block;
  text-align: center;
  .back.primary();
}
.result-value {
  font-size: 2em;
  padding: 0.2em 1em;
}
