
@import "stylectrode/index";
@import "uify/styles/index";

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  TIPS
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

@import (inline) "tippy.js/dist/tippy.css";


.tippy-box {
  font-weight: bold;
  img { width: 100%; }
  &[data-placement^='top'] > .tippy-arrow::before { border-top-color: inherit; }
  &[data-placement^='bottom'] > .tippy-arrow::before { border-bottom-color: inherit; }
  &[data-placement^='left'] > .tippy-arrow::before { border-left-color: inherit; }
  &[data-placement^='right'] > .tippy-arrow::before { border-right-color: inherit; }
}

.tippy-box[data-theme~='default'] {
  background-color: @base;
  color: @baseContrast;
  .tippy-arrow { border-color: @base; }
}

.tippy-box[data-theme~='error'] {
  background-color: @error;
  color: @errorContrast;
  .tippy-arrow { border-color: @error; }
}

.tippy-box[data-theme~='locked'] {
  background-color: #333;
  color: #888;
  .tippy-arrow { border-color: #333; }
}

.tippy-box[data-theme~='suggest-dropdown'] {
  background-color: @base;
  color: @baseContrast;
  border-radius: 0;
  margin-top: -10px;
  font-weight: initial;
  .tippy-content { padding: 5px 10px; }
  .tippy-arrow { display: none; }
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  GENERALS
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

.inputify_container {

  text-align: left;
  display: flex;
  padding: 0.4em;
  justify-content: center;
  align-items: center;
  position: relative;
  &.stacked-label {
    flex-direction: column;
    & > label {
      width: 100%;
      font-family: @basefont;
      font-size: 1.1em;
    }
    & > .inputify { width: 100%; }
  }

  &.mandatory_missing {
    background-color: rgba(255, 130, 0, 0.8);
  }
  &.invalid {
    cursor: not-allowed;
    background-color: rgba(255, 0, 0, 0.9);
  }

  &.locked {
    & > label .label-button {
      visibility: hidden !important;
    }
    & > .inputify {
      pointer-events: none;
      user-select: none;
      opacity: 0.5;
    }
  }

  &.not_defined > label {
    opacity: 0.5;
  }

  // should be hidden
  &.inputify-hidden { display: none; }

  // is advanced input
  &.advanced_input-hidden { display: none; }
  &.advanced_input-hidden-force_visibility { display: flex; }
  &.advanced_input-decoration > label > .label-text {
    &:before, &:after {
      content: "*";
      font-size: 1.5em;
      line-height: 0.1;
      font-weight: bold;
    }
    // &:after { content: ">"; }
  }
  .advanced_input-message {
    position: absolute;
    background-color: @primary;
    color: @primaryContrast;
    padding: 0.25em 0.5em;
    transform: rotate(-20deg);
    cursor: pointer;
    z-index: 2;
  }

  & > label {

    padding: 0.4em;
    flex: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &.stacked {
    }
    &.intertitle {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      width: 100%;
      .back.primary();
      .uify-button {
        color: @primaryContrast;
        &:hover { color: @hover; }
      }
    }
    &.has_help { cursor: help; }

    .label-text {
      flex: 1;
      // line-height: 1.7;
    }

    .label-button {
      cursor: pointer;
      visibility: hidden;
      font-size: 120%;
    }
    &:hover .label-button {
      visibility: visible;
    }

  }

  .inputify {
    min-width: 0;
    max-width: 100%;
    flex: auto;
    flex-grow: 2;
    position: relative;
    &.monospace { font-family: @basefontMonospace; }
    -moz-tab-size: 3; // firefox still doesn't seem to support tab-size !??
    tab-size: 3;
  }

  .uify-spinner {
    color: @baseContrast;
    .uify-spinner_spinner { right: 0; } // helps centering the spinner on the input (doesn't put it on the most right, because it makes an average with the left set by uify.spinner method automatically)
  }

}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//                                                  ANIMATION
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

@keyframes spinBounceOut {
  20% {
    opacity: 1;
    transform: scale3d(0.9, 0.9, 0.9) rotate(0deg);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1) rotate(720deg);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) rotate(2500deg);
  }
}

.spinBounceOut {
  opacity: 0;
  animation-duration: 0.75s;
  animation-name: spinBounceOut;
}

//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
//\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/

@import "inputs/index";
